.common-header {
    background-color: $base-background-color;
    width: 100%;
    height: 64px;
    .common-header-content {
        width: $base-width;
        margin: 0 auto;
        height: 64px;
        overflow: hidden;
        .common-header-logo {
            height: 100%;
            display: inline-block;
            background-image: url('../assets/common-assets/暂时logo.png');
            vertical-align: middle; //仅仅只在inline-block的元素内有作用
            height: 43px; //必须有宽高大小才能正确显示背景图片
            width: 41px; // img{
            //     margin-top:10px;
            //     vertical-align: middle;
            // }
        }
        .common-header-text {
            display: inline-block;
            margin-left: 10px;
            font-size: 18px;
            height: 100%;
            padding-top: 20px;
            color: #ffffff;
            font-family: $base-font-family;
            letter-spacing: 2px;
        }
    }
}

//公共头部Logo样式结束
//公共导航栏开始
.common-navigation-bar {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgb(240, 240, 240);
    .common-navigation-bar-wrap {
        position: relative;
        width: $base-width;
        margin: 0 auto;
        .common-navigation-join-us {
            font-size: 20px;
            font-family: $base-font-family;
            position: absolute;
            top: 0px;
            right: 0px; //  z-index:2;
            margin-top: 20px;
            width: 128px;
            letter-spacing: 0px;
            padding: 0px;
            background-color: $base-button-more-color;
        }
        .common-navigation-bar-content {
            width: $base-width;
            height: 64px;
            overflow: hidden;
            background-color: #ffffff;
            line-height: 45px;
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                margin-top: 16px;
                li {
                    a {
                        color: $base-font-color;
                        font-size: 20px;
                        font-family: $base-font-family;
                    }
                    a:active,
                    a:hover {
                        background-color: #fff; //后期修改浮动样式，此处为去掉选中与悬停时的灰底
                    }
                }
            }
        }
    }
}

//公共导航栏样式结束
//主体内容样式开始
.main-page-body {
    width: $base-width;
    .carousel {
        position:relative;
        height: 468px;
        .indicators{
            bottom:46px;
        }
        .carousel-content-text{
            width:100%;
            height:70px;
            position:absolute;
            bottom:0px;
            z-index: 3;
           background-color:rgba(67,67,69,0.7);//rgba子元素不继承透明度，opacity会被子元素继承，IE8、9以下使用position使元素脱离文档流来解决，
           //background-color: rgb(67,67,69);
           //opacity: 0.5;
            text-align:left;
            span:nth-child(1) {
                //opacity:10;
                margin:0px;
                padding:0px;
                font-size:18px;
                color:#ffffff;
                font-family: $base-font-family;
                margin-top:12px;
                margin-left:30px;
                line-height:18px;
                display:block;
            }
            span:nth-child(2) {
                font-size:14px;
                font-family: $base-font-family;
                color:#ffffff;
                margin-top:12px;
                margin-left:30px;
                line-height:18px;
                display:inline-block;
            }
              .main-page-look-in-detail{
                float:right;
                margin-right:20px;
                margin-top:-12px;
            }
        }
    } //首页资讯中心的样式开始
    .mian-page-info-center {
        margin-top: 30px;
        .main-page-info-center-header {
            i {
                font-size: 40px;
                color: $base-background-color;
                display: inline-block;
                vertical-align: middle;
            }
            span:nth-child(2) {
                font-size: 20px;
                display: inline-block;
                margin-left: 15px;
                color: $base-background-color;
                font-family: $base-font-family;
            }
            span:nth-child(3) {
                font-size: 18px;
                font-family: $base-font-family;
                color: $base-button-more-color;
                float: right;
                a {
                    text-decoration: none;
                    color: $base-button-more-color;
                }
            }
        }
        .main-page-info-center-card {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .row {
                box-shadow: 0px 0px 5px rgb(200, 200, 200);
                width: 300px;
                height: 264px;
                padding: 0px;
                margin-left: 0px;
                margin-right: 0px;
                h2 {
                    line-height: 18px;
                    margin: 0px;
                    padding: 0ps;
                    font-size: 18px;
                    font-family: "Microsoft YaHei";
                    color: #525765;
                    text-align: center;
                    font-weight: 600;
                    display: block;
                    line-height: 32px;
                    margin-bottom: 8px;
                    margin-top: 22px;
                    text-align: center;
                }
                p {
                    margin-top: 22px;
                    font-size: 14px;
                    color: #626878;
                    font-family: "Microsoft YaHei";
                    height: 96px;
                    padding: 0 20px;
                    line-height: 25px;
                    overflow: hidden;
                    margin-bottom: 4px;
                }
                span {
                    padding-left: 220px;
                    font-size: 12px;
                    color: #a0a0a0;
                }
                hr {
                    margin: 0px;
                    margin-top: 3px;
                    height: 0px;
                    padding: 0px;
                    width: 100%;
                    border-top: 1px solid rgba(160, 160, 160, 0.2);
                }
                a {
                    display: block;
                    text-align: center;
                    color: $base-button-more-color;
                    font-size: 18px;
                    font-family: $base-font-family;
                    margin-top: 16px;
                }
                .col {
                    padding: 0px;
                }
                .card-content {
                    padding: 0px;
                    margin: 20px;
                    p:nth-child(2) {
                        height: 125px;
                    }
                    p:nth-child(3) {
                        padding-left: 200px;
                        font-size: 12px;
                        color: #a0a0a0;
                    }
                }
                .card-title {
                    font-size: 18px;
                    font-family: $base-font-family;
                    color: #525765;
                    text-align: center;
                    font-weight: 600;
                }
                p {
                    font-size: 14px;
                    color: #626878;
                    font-family: $base-font-family;
                }
                .card-content {
                    height: 180px;
                    margin-bottom: 10px;
                }
                .card-action {
                    padding: 0px;
                    height: 58px;
                    text-align: center;
                    bottom: 0px;
                    a {
                        line-height: 58px; //使字体垂直居中
                        font-size: 18px;
                        font-family: $base-font-family;
                        color: #626878;
                    }
                }
            }
        }
    } //首页资讯中心的样式结束
    //首页的研究项目样式开始
    .main-page-research-project {
        margin-top: 10px;
        .main-page-research-project-header {
            i {
                font-size: 40px;
                color: $base-background-color;
                display: inline-block;
                vertical-align: middle;
            }
            span:nth-child(2) {
                font-size: 20px;
                display: inline-block;
                margin-left: 15px;
                color: $base-background-color;
                font-family: $base-font-family;
            }
            span:nth-child(3) {
                font-size: 18px;
                font-family: $base-font-family;
                color: $base-button-more-color;
                float: right;
                a {
                    text-decoration: none;
                    color: $base-button-more-color;
                }
            }
        }
        .main-page-research-project-card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;
            .row {
                width: 462px;
                height: 412px;
                padding: 0px;
                margin-left: 0px;
                margin-right: 0px;
                box-shadow: 0px 0px 5px rgb(200, 200, 200);
                .col {
                    padding: 0px;
                    .card {
                        margin: 0px;
                        .card-image {
                            width: 100%;
                            height: 280px;
                        }
                        .card-content {
                            width: 100%;
                            height: 132px;
                            padding: 0px;
                            overflow: hidden;
                            span:nth-child(2) {
                                float: right;
                                display: block;
                                margin-top: 22px;
                                margin-right: 20px;
                                font-size: 14px;
                                color: #626878;
                                font-family: "Microsoft YaHei";
                            }
                            .card-article-title {
                                display: inline-block;
                                margin-left: 14px; // margin-top:22px;
                                padding-top: 22px;
                                line-height: 18px;
                                font-size: 18px;
                                font-family: $base-font-family;
                                color: #525765;
                            }
                            p {
                                margin-left: 14px;
                                margin-top: 20px;
                                margin-right: 18px;
                                line-height: 25px;
                                font-size: 14px;
                                font-family: $base-font-family;
                                color: #626878;
                            }
                        }
                    }
                }
            }
        }
    } //首页研究项目样式结束
    //行业精英开始
    .main-page-industry-elite {
        margin-top: 10px;
        margin-bottom: 110px;
        .main-page-industry-elite-header {
            i {
                font-size: 40px;
                color: $base-background-color;
                display: inline-block;
                vertical-align: middle;
            }
            span:nth-child(2) {
                font-size: 20px;
                display: inline-block;
                margin-left: 15px;
                color: $base-background-color;
                font-family: $base-font-family;
            }
            span:nth-child(3) {
                font-size: 18px;
                font-family: $base-font-family;
                color: $base-button-more-color;
                float: right;
                a {
                    text-decoration: none;
                    color: $base-button-more-color;
                }
            }
        }
        .main-page-industry-elite-card {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .row {
                width: 462px;
                height: 198px;
                margin-left: 0px;
                margin-right: 0px;
                box-shadow: 0px 0px 5px #c8c8c8;
                .col {
                    padding: 0px;
                    .card {
                        margin: 0px;
                    }
                    .card-image {
                        width: 160px;
                        height: 198px;
                        overflow: hidden;
                        background-color: $base-background-color;
                    }
                    .card-content {
                        padding: 0px;
                        span:nth-child(1) {
                            font-family: $base-font-family;
                            font-size: 18px;
                            line-height: 18px;
                            margin-top: 25px;
                            margin-left: 28px;
                            color: #525765;
                            display: block;
                        }
                        span:nth-child(2) {
                            font-family: $base-font-family;
                            font-size: 12px;
                            line-height: 12x;
                            margin-top: 16px;
                            margin-left: 28px;
                            color: #a0a0a0;
                            display: block;
                        }
                        p {
                            font-family: $base-font-family;
                            font-size: 14px;
                            line-height: 25px;
                            margin-top: 30px;
                            margin-left: 28px;
                            margin-right: 25px;
                            color: #626878;
                        }
                    }
                }
            }
        }
    } //行业精英结束
}

//主体内容样式结束
//公共尾部样式开始
.common-footer {
    width: 100%;
    height: 255px;
    .common-footer-content {
        background-color: $base-background-color;
        width: 100%;
        height: 195px;
        .common-footer-detail {
            width: 956px;
            margin: 0 auto;
            .common-footer-detail-left {
                float: left;
                .common-footer-logo {
                    margin-top: 10px;
                    .common-footer-logo-img {
                        height: 100%;
                        display: inline-block;
                        background-image: url('../assets/common-assets/暂时logo.png');
                        vertical-align: middle; //仅仅只在inline-block的元素内有作用
                        height: 43px; //必须有宽高大小才能正确显示背景图片
                        width: 41px;
                    }
                    .common-footer-logo-text {
                        display: inline-block;
                        margin-left: 10px;
                        font-size: 14px;
                        height: 100%;
                        padding-top: 20px;
                        color: #ffffff;
                        font-family: $base-font-family;
                        letter-spacing: 1px;
                    }
                }
                .common-footer-left-first-text {
                    margin-top: 25px;
                }
                .common-footer-left-second-text {
                    margin-top: 15px;
                }
                p {
                    color: #fff;
                    font-size: 14px;
                    font-family: $base-font-family;
                    letter-spacing: 1px;
                    margin-left: 28px;
                }
            }
            .common-footer-detail-right {
                float: right;
                width: 200px;
                .common-footer-logo-right-text {
                    margin-top: 10px;
                    font-size: 14px;
                    height: 100%;
                    padding-top: 20px;
                    color: #ffffff;
                    font-family: $base-font-family;
                    letter-spacing: 1px;
                }
                .common-footer-wechat {
                    height: 70px;
                    width: 70px;
                    background-image: url('../assets/common-assets/footer二维码.png');
                    margin: 0 auto;
                    margin-top: 30px;
                }
            }
        }
    }
    .common-copy-right {
        width: 100%;
        height: 65px;
        background-color: rgb(12, 131, 189);
        overflow: hidden;
        .first {
            font-size: 14px;
            font-family: $base-font-family;
            width: 340px;
            margin: 0 auto;
            color: #fff;
            margin-top: 10px;
            letter-spacing: 1px;
        }
        .second {
            font-size: 14px;
            font-family: $base-font-family;
            width: 150px;
            margin: 0 auto;
            color: #fff;
        }
    }
}

//公共尾部样式结束
//右边的滚动监视图
.main-page-body-scrollby {
    width: 1080px;
    margin: 0 auto;
    padding-left: 62px;
}

.scroll-spy-wrap {
    float: right;
        .scroll-spy {
            font-size: 18px;
            font-family: $base-font-family;
            .active {
                border-left: 5px solid $base-background-color;
                // color: #2d3240;
                // font-weight: 500;
                // padding-left: 18px;
            }
        }
    }

//右边滚动监视条结束