$base-background-color:rgb(8,147,214);
$base-font-color: #626878;
$base-font-color-active:#2d3240;//当前选中项的颜色
$base-button-more-color:rgb(247,149,86);//更多选项及按钮的颜色
$base-title-color:#0893d6;//基本的文章标题的颜色
$base-font-family:"Microsoft YaHei";//基本字体
$base-width:956px;