<?php TPL::output('global/header.tpl.htm'); ?>
<section class="publish">
	<div class="content clearfix">
		<div class="left">
			<h2>整理发布</h2>
			<form action="publish/ajax/<?php if ($this->article_info['id']) { ?>modify<?php } else { ?>publish<?php } ?>_sortout/" method="post" id="question_form" onsubmit="return false;">
				<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
				<input type="hidden" name="attach_access_key" value="<?php echo $this->attach_access_key; ?>" />
				<input type="hidden" name="article_id" id="article_id" value="<?php echo $this->article_info['id']; ?>" />
				<input type="hidden" name="question_id" id="question_id" value="<?php echo $this->question['question_id']; ?>" />
					<div class="mod-body">
						<label><?php _e('整理标题'); ?>:</label>
						<input type="text" name="title" value="<?php echo $this->article_info['title']; ?>" class="form-control" />
						<label><?php _e('整理内容'); ?>:</label>
						<div class="aw-mod aw-editor-box" style="margin-bottom: 10px;">
							<div class="mod-head">
								<div class="wmd-panel">
									<textarea class="wmd-input form-control autosize editor" id="wmd-input" rows="15" name="message"><?php echo $this->article_info['message']; ?></textarea>
						        </div>
							</div>
							<!-- <div class="mod-body" >
								<p class="text-color-999"><span class="pull-right" id="question_detail_message">&nbsp;</span></p>
								<?php if (get_setting('upload_enable') == 'Y' AND get_setting('advanced_editor_enable' == 'Y')) { ?>
								<div class="aw-upload-box">
									<a class="btn btn-default">上传附件</a>
									<div class="upload-container"></div>
									<span class="text-color-999 aw-upload-tips hidden-xs"><?php _e('允许的附件文件类型'); ?>: <?php echo get_setting('allowed_upload_types'); ?></span>
								</div>
								<?php } ?>
							</div> -->
						</div>
						<div>
						<label for="oriDescription">原问题描述：</label>
						<textarea class="form-control" rows="5" name="sourcecontent" style="overflow:hidden;word-wrap:break-word;resize:none" id="oriDescription"><?php echo $this->question['question_detail']; ?></textarea>
						<label for="classify">分类：</label>
							<select name="category_id" id="classify" class="form-control">
								<?php if ($this->article_category_list) { ?>
									<?php echo $this->article_category_list; ?>
								<?php } ?>
								<!-- 其他类的value值固定为0 -->						
								<option value="0">其他</option>
							</select>
							<input type="text" name="other_category" class="form-control" id="elseClassify">
						</div>

						<?php if ($this->human_valid) { ?>
						<div class="aw-auth-img clearfix">
							<em class="auth-img pull-right"><img src="" onclick="this.src = G_BASE_URL + '/account/captcha/' + Math.floor(Math.random() * 10000);" id="captcha"  /></em>
							<input class="pull-right form-control" type="text" name="seccode_verify" placeholder="验证码" />
						</div>
						<?php } ?>
					</div>
					<div class="bt-wrap">
						<a class="btn btn-large btn-success btn-publish-submit" id="publish_submit" onclick="AWS.ajax_post($('#question_form')); return false;"><?php _e('确认发起'); ?></a>
					</div>
			</form>
		</div>
		<!-- 侧边栏 -->
		<div class="right">
			<!-- 文章发起指南 -->
			<div class="aw-mod publish-help">
				<div class="mod-head">
					<h3><?php _e('整理须知'); ?></h3>
				</div>
				<div class="mod-body">
					<p><b>• <?php _e('文章标题'); ?>:</b> <?php _e('请用准确的语言描述您发布的文章思想'); ?></p>
					<p><b>• <?php _e('文章补充'); ?>:</b> <?php _e('详细补充您的文章内容, 并提供一些相关的素材以供参与者更多的了解您所要文章的主题思想'); ?></p>
					<p><b>• <?php _e('选择话题'); ?>:</b> <?php _e('选择一个或者多个合适的话题, 让您发布的文章得到更多有相同兴趣的人参与. 所有人可以在您发布文章之后添加和编辑该文章所属的话题'); ?></p>
				</div>
			</div>
			<!-- end 文章发起指南 -->
		</div>
		<!-- end 侧边栏 -->
	</div>
</section>
<style type="text/css" media="screen">
	.modal {
	    bottom: 0 !important;
	    display: none;
	    /* left: 0 !important; */
	    outline: 0 none !important;
	    overflow: hidden !important;
	    position: fixed !important;
	    right: 0 !important;
	    /* top: 0 !important; */
	    z-index: 1050 !important;
	    background: none !important;
	    border: none !important;
	    border-radius: 0;
	    box-shadow: none !important;
	}
	#aw_edit_topic_title         { margin-bottom: 10px; }
	.publish .left .bt-wrap .btn { padding: 0;         }
</style>
<script type="text/javascript">
	var ATTACH_ACCESS_KEY = '<?php echo $this->attach_access_key; ?>';
	var CATEGORY_ID = <?php echo $this->article_info['category_id']; ?>;
	var PUBLISH_TYPE = 'sortout';
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>