<?php TPL::output('global/header.tpl.htm'); ?>
<section class="personal spec-person">
    <div class="content clearfix">
        <div class="left">
            <div class="classify-line clearfix">
                <div class="pull-left mod-head">
                    <h3 id="main_title">交易密码</h3>
                </div>
            </div>
            <div class="content-wrap">
                <div class="tips alert alert-info">说明: 默认交易密码为您的登录密码,请及时修改</div>
                <form class="form-horizontal" action="home/ajax/pay_password/" method="post" id="setting_form">
                        <div>
                            <br>
                            <div class="spec-content changepsw">
                                <dl class="clearfix">
                                    <dt><label class="control-label" for="input-password-old"><?php _e('当前交易密码'); ?></label></dt>
                                    <dd>
                                        <input type="password" class="form-control" id="input-password-old" name="old_password" />
                                    </dd>
                                </dl>
                                <dl class="clearfix">
                                    <dt><label class="control-label" for="input-password-new"><?php _e('新的交易密码'); ?></label></dt>
                                    <dd>
                                        <input type="password" class="form-control" id="input-password-new" name="password" />
                                    </dd>
                                </dl>
                                <dl class="clearfix">
                                    <dt><label class="control-label" for="input-password-re-new"><?php _e('确认交易密码'); ?></label></dt>
                                    <dd>
                                        <input type="password" class="form-control" id="input-password-re-new" name="re_password" />
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="bt-wrap clearfix text-center">
                            <a href="javascript:;" class="btn btn-normal btn-success save clearfix" onclick="AWS.ajax_post($('#setting_form'));"><?php _e('保存'); ?></a>
                        </div>
                </form>
            </div>
        </div>
        <!-- 侧边栏 -->
        <div class="right sidelist">
            <?php TPL::output('block/finance_menu.tpl.htm'); ?>
        </div>
        <!-- end 侧边栏 -->
    </div>
</section>


<?php TPL::output('global/footer.tpl.htm'); ?>