<?php TPL::output('global/header.tpl.htm'); ?>
<section class="personal">
    <div class="content clearfix">
        <div class="left">
            <!-- 用户数据内容 -->
            <div class="info-line clearfix">
                <div class="head-wrap pull-left">
                    <img src="<?php echo get_avatar_url($this->user['uid'], 'max'); ?>" alt="<?php echo $this->user['user_name']; ?>" class="user-head-lg">
                </div>
                <div class="info-wrap pull-left">
                    <p class="username"><b><?php echo $this->user['user_name']; ?></b></p>
                    <p class="tag">标签：<?php echo $this->user['signature']; ?></p>
                    <p>
                        <span><i class="icon-y"></i><?php echo $this->user['y_permission']; ?></span>
                        <span class="avg-shang"><?php echo $this->user['avg_shang']/100; ?></span>
                    </p>
                </div>
                <div class="bt-wrap pull-right">

                    <?php if ($this->user['uid'] != $this->user_id AND $this->user_id) { ?>
                    <p><a class="text-color-999" onclick="AWS.dialog('inbox', '<?php echo $this->user['user_name']; ?>');"><i class="icon icon-inbox"></i> 私信</a>
                        <a href="javascript:;" class="follow btn btn-normal btn-success<?php if ($this->user_follow_check) { ?> active<?php } ?>" onclick="AWS.User.follow($(this), 'user', <?php echo $this->user['uid']; ?>);"><span><?php if ($this->user_follow_check) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?></span> <!-- <b><?php echo $this->user['fans_count']; ?></b> --></a></p>
                    <?php } else if ($this->user_id == $this->user['uid']) { ?>
                    <p><a href="account/setting/profile/" class="btn btn-normal btn-success"><?php _e('编辑'); ?></a></p>
                    <p><a href="home/finance/" class="btn btn-normal btn-success" target="_blank">是金包包</a></p>
                    <?php } ?>
                </div>
            </div>
            <div class="aw-mod aw-user-detail-box">
                <div class="mod-body" style="margin-top:20px;">
                    <div class="good-at-topics clearfix" style="padding-left: 0px;">
                        <?php _e('介绍：'); ?><?php echo $this->user['homepage']; ?>
                    </div>
                </div>
            </div>
            <!-- end 用户数据内容 -->
            <div class="classify-line clearfix">
                <ul class="pull-left">
                    <li><a href="#articles" id="page_articles" data-toggle="tab">文章</a> <span class="badge"><?php echo $this->countarticle; ?></span></li>
                    <li class="active"><a href="#questions" id="page_questions" data-toggle="tab">提问</a> <span class="badge"><?php echo $this->counta; ?></span></li>
                    <li><a href="#answers" id="page_answers" data-toggle="tab">回答</a> <span class="badge"><?php echo $this->countq; ?></span></li>
                    <li><a href="#sortout" id="page_sortout" data-toggle="tab">整理</a> <span class="badge"><?php echo $this->countsortout; ?></span></li>
                    <li><a href="#prize" id="page_prize" data-toggle="tab">有奖</a> <span class="badge"><?php echo $this->countprize; ?></span></li>
                </ul>
            </div>
            <!-- <div class="mod-footer">
                <ul class="nav nav-tabs aw-nav-tabs">
                    <li><a href="#focus" id="page_focus" data-toggle="tab"><?php _e('关注'); ?></a></li>
                    <li><a href="#actions" id="page_actions" data-toggle="tab"><?php _e('动态'); ?></a></li>
                    <li><a href="#detail" id="page_detail" data-toggle="tab"><?php _e('详细资料'); ?></a></li>
                    <?php if ($this->user_id == $this->user['uid'] AND get_setting('integral_system_enabled') == 'Y') { ?>
                    <li><a href="#integral" id="page_integral" data-toggle="tab"><?php _e('我的积分'); ?></a></li>
                    <?php } ?>
                </ul>
            </div> -->
            
            <div class="aw-user-center-tab">
                <div class="tab-content">
                    <div class="tab-pane active" id="questions">
                        <div class="content-wrap">
                            <div class="item-list">
                                <ul class="aw-profile-publish-list" id="contents_user_actions_questions"></ul>
                                <a class="aw-load-more-content" id="bp_user_actions_questions_more"><span><?php _e('更多'); ?></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="answers">
                        <div class="content-wrap">
                            <div class="item-list">
                                <ul class="aw-profile-answer-list" id="contents_user_actions_answers"></ul>
                                <a class="aw-load-more-content" id="bp_user_actions_answers_more"><span><?php _e('更多'); ?></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="articles">
                        <div class="content-wrap">
                            <div class="item-list">
                                <ul class="aw-profile-publish-list" id="contents_custom_actions_articles"></ul>
                                <a class="aw-load-more-content" id="bp_custom_actions_articles_more"><span><?php _e('更多'); ?></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="sortout">
                        <div class="content-wrap">
                            <div class="item-list">
                                <ul class="aw-profile-publish-list" id="contents_sortout_actions_articles"></ul>
                                <a class="aw-load-more-content" id="bp_sortout_actions_articles_more"><span><?php _e('更多'); ?></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="prize">
                        <div class="content-wrap">
                            <div class="item-list">
                                <ul class="aw-profile-publish-list" id="contents_prize_actions_articles"></ul>
                                <a class="aw-load-more-content" id="bp_prize_actions_articles_more"><span><?php _e('更多'); ?></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="focus">
                        <!-- 自定义切换 -->
                        <div class="aw-mod">
                            <div class="aw-tabs text-center">
                                <ul>
                                    <li class="active"><a><?php _e('关注的人'); ?></a></li>
                                    <li><a><?php _e('关注者'); ?></a></li>
                                    <li><a><?php _e('关注的话题'); ?></a></li>
                                </ul>
                            </div>
                            <div class="mod-body">
                                <div class="aw-tab-content">
                                    <div class="aw-mod aw-user-center-follow-mod">
                                        <div class="mod-body">
                                            <ul id="contents_user_follows" class="clearfix"></ul>
                                        </div>
                                        <div class="mod-footer">
                                            <!-- 加载更多内容 -->
                                            <a class="aw-load-more-content" id="bp_user_follows_more">
                                                <span><?php _e('更多'); ?></span>
                                            </a>
                                            <!-- end 加载更多内容 -->
                                        </div>
                                    </div>
                                    <div class="aw-mod aw-user-center-follow-mod collapse">
                                        <div class="mod-body">
                                            <ul class="clearfix" id="contents_user_fans"></ul>
                                        </div>
                                        <div class="mod-footer">
                                            <!-- 加载更多内容 -->
                                            <a class="aw-load-more-content" id="bp_user_fans_more">
                                                <span><?php _e('更多'); ?></span>
                                            </a>
                                            <!-- end 加载更多内容 -->
                                        </div>
                                    </div>
                                    <div class="aw-mod aw-user-center-follow-mod collapse">
                                        <div class="mod-body">
                                            <ul id="contents_user_topics" class="clearfix"></ul>
                                        </div>
                                        <div class="mod-footer">
                                            <!-- 加载更多内容 -->
                                            <a class="aw-load-more-content" id="bp_user_topics_more">
                                                <span><?php _e('更多'); ?></span>
                                            </a>
                                            <!-- end 加载更多内容 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end 自定义切换 -->
                    </div>
                    <div class="tab-pane" id="actions">
                        <div class="aw-mod">
                            <div class="mod-head">
                                <h3><?php _e('最新动态'); ?></h3>
                            </div>
                            <div class="mod-body">
                                <div id="contents_user_actions"></div>
                            </div>
                            <div class="mod-footer">
                                <!-- 加载更多内容 -->
                                <a class="aw-load-more-content" id="bp_user_actions_more">
                                    <span><?php _e('更多'); ?></span>
                                </a>
                                <!-- end 加载更多内容 -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="detail">
                        <div class="aw-mod">
                            <div class="mod-head">
                                <h3><?php _e('详细资料'); ?></h3>
                            </div>
                            <div class="mod-body aw-user-center-details">
                                <?php if (get_setting('sina_weibo_enabled') == 'Y' AND $this->sina_weibo_url) { ?>
                                <dl>
                                    <dt><span><?php _e('绑定认证'); ?>:</span></dt>
                                    <?php if ($this->sina_weibo_url AND get_setting('sina_weibo_enabled') == 'Y') { ?><dd><a href="<?php if ($this->sina_weibo_url) { ?><?php echo $this->sina_weibo_url; ?><?php } else { ?>javascript:;<?php } ?>" class="text-color-999"><i class="icon icon-weibo"></i><?php _e('微博'); ?></a></dd><?php } ?>
                                </dl>
                                <?php } ?>
                            <dl>
                                <dt><span><?php _e('个人成就'); ?>:</span></dt>
                                <dd>
                                    <p class="meta">
                                        <span><i class="icon icon-prestige"></i><?php _e('威望'); ?>: <em class="aw-text-color-green"><?php echo $this->user['reputation']; ?></em></span>
                                        <?php if (get_setting('integral_system_enabled') == 'Y') { ?>
                                        <span><i class="icon icon-score"></i><?php _e('积分'); ?>: <em class="aw-text-color-orange"><?php echo $this->user['integral']; ?></em></span>
                                        <?php } ?>
                                        <span><i class="icon icon-agree"></i><?php _e('赞同'); ?>: <em class="aw-text-color-orange"><?php echo $this->user['agree_count']; ?></em></span>
                                        <span><i class="icon icon-thank"></i><?php _e('感谢'); ?>: <em class="aw-text-color-orange"><?php echo $this->user['thanks_count']; ?></em></span>
                                    </p>
                                </dd>
                            </dl>
                            <?php if ($this->user['area_name']) { ?>
                            <dl>
                                <dt><span><?php _e('现居'); ?>:</span></dt>
                                <dd>
                                    <?php echo $this->user['area_name']; ?>
                                </dd>
                            </dl>
                            <?php } ?>

                            <?php if ($this->education_experience_list) { ?>
                            <dl>
                                <dt><span><?php _e('教育经历'); ?>:</span></dt>
                                <dd>
                                    <ul>
                                        <?php foreach($this->education_experience_list as $k => $v) { ?>
                                        <li>
                                            <?php echo $v['education_years']; ?> <?php _e('年'); ?> <?php _e('就读于%s', $v['school_name']); ?> <?php echo $v['departments']; ?>
                                        </li>
                                        <?php } ?>
                                    </ul>
                                </dd>
                            </dl>
                            <?php } ?>

                            <?php if ($this->work_experience_list) { ?>
                            <dl>
                                <dt><span><?php _e('职业经历'); ?>:</span></dt>
                                <dd>
                                    <ul>
                                    <?php foreach($this->work_experience_list as $k => $v) { ?>                    
                                        <li>
                                            <?php echo $v['start_year']; ?> - <?php if ($v['end_year'] == -1) { ?><?php _e('至今'); ?><?php } else { ?><?php echo $v['end_year']; ?><?php } ?> <?php _e('就职于%s', $v['company_name']); ?> <?php if ($v['job_name']) { ?> <?php _e('担任 %s', $v['job_name']); ?> <?php } ?>
                                        </li>
                                    <?php } ?>
                                    </ul>
                                </dd>
                            </dl>
                            <?php } ?>

                            <?php if ($this->user['last_active']) { ?>
                            <dl>
                                <dt><span><?php _e('最后活跃'); ?>:</span></dt>
                                <dd><?php echo date_friendly($this->user['last_active']); ?></dd>
                            </dl>
                            <?php } ?>

                            <?php if ($this->reputation_topics) { ?>
                            <dl>
                                <dt><span><?php _e('擅长话题'); ?>:</span></dt>
                                <dd class="aw-user-center-details-good-topic">
                                    <?php foreach ($this->reputation_topics AS $key => $val) { ?>
                                    <div>
                                        <span class="topic-tag">
                                            <a href="topic/<?php echo $val['url_token']; ?>" class="text" data-id="<?php echo $val['topic_id']; ?>"><?php echo $val['topic_title']; ?></a>
                                        </span>
                                        <span>
                                            <i class="icon icon-agree"></i> <?php echo $val['agree_count']; ?>&nbsp;&nbsp;
                                            <i class="icon icon-thank"></i> <?php echo $val['thanks_count']; ?>
                                        </span>
                                    </div>
                                    <?php } ?>
                                </dd>
                            </dl>
                            <?php } ?>
                            </div>
                        </div>
                    </div>
                    <?php if ($this->user_id == $this->user['uid'] AND get_setting('integral_system_enabled') == 'Y') { ?>
                    <div class="tab-pane" id="integral">
                        <div class="aw-mod">
                            <div class="mod-head">
                                <h3><i class="icon icon-point"></i><?php _e('我的积分'); ?></h3>
                            </div>
                            <div class="mod-body">
                                <table class="table table-hover aw-table">
                                    <thead>
                                        <tr class="info">
                                            <th width="14%"><?php _e('时间'); ?></th>
                                            <th width="8%"><?php _e('数额'); ?></th>
                                            <th width="8%"><?php _e('余额'); ?></th>
                                            <th width="17%"><?php _e('描述'); ?></th>
                                            <th width="40%"><?php _e('相关信息'); ?></th>
                                        </tr>
                                    </thead>
                                    <tbody id="contents_user_integral">
                                    </tbody>
                                </table>
                            </div>
                            <div class="mod-footer">
                                <!-- 加载更多内容 -->
                                <a class="aw-load-more-content" id="bp_user_integral">
                                    <span><?php _e('更多'); ?></span>
                                </a>
                                <!-- end 加载更多内容 -->
                            </div>
                        </div>
                    </div>
                    <?php } ?>
                </div>
            </div>
        </div>

        <!-- 侧边栏 -->
        <div class="right">
            <?php if($this->user['uid'] == $this->user_id){ ?>
                <ul class="people-control-items">
                    <li><a href="account/setting/profile/">个人信息</a></li>
                    <li><a href="account/setting/verify/">认证信息</a></li>
                    <li><a href="account/setting/security/">安全设定</a></li>
                    <li><a href="home/finance/">是金包包</a></li>
                </ul>
            <?php } ?>
            <?php TPL::output('block/sidebar_menu.tpl.htm'); ?>
            <!-- 广告位 -->
            <?php echo get_ad(ad_class::L_PEOPLE_1, 0, $this->user['uid'], $this->user_info); ?>
            <!-- 广告位 -->
            <?php echo get_ad(ad_class::L_PEOPLE_2, 0, $this->user['uid'], $this->user_info); ?>
            <!-- 广告位 -->
            <?php echo get_ad(ad_class::L_PEOPLE_3, 0, $this->user['uid'], $this->user_info); ?>
        </div>
        <!-- end 侧边栏 -->
    </div>
</section>
<style type="text/css" media="screen">
    ul.pull-left li.active a{ color: #37b3a7; } 
    ul.pull-left li.active .badge { background-color: #37b3a7; }
    .aw-load-more-content {
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        color: #999;
        cursor: pointer;
        font-size: 16px;
        margin: 0 0 10px;
        padding: 0px 0;
        text-align: center;
        background-color: transparent;
        height: auto;
    }
</style>
<script type="text/javascript">
    var PEOPLE_USER_ID = '<?php echo $this->user['uid']; ?>';

    var ACTIVITY_ACTIONS = '<?php echo implode(',', array(
        ACTION_LOG::ADD_QUESTION,
        ACTION_LOG::ANSWER_QUESTION,
        ACTION_LOG::ADD_REQUESTION_FOCUS,
        ACTION_LOG::ADD_AGREE,
        ACTION_LOG::ADD_TOPIC,
        ACTION_LOG::ADD_TOPIC_FOCUS,
        ACTION_LOG::ADD_ARTICLE,
        ACTION_LOG::ADD_AGREE_ARTICLE,
        ACTION_LOG::ADD_COMMENT_ARTICLE
    )); ?>';
</script>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/people.js"></script>

<?php TPL::output('global/footer.tpl.htm'); ?>